@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radio-button__input:checked + .radio-button__label span {
    background-color: #4c8bf5;
  }

  .radio_startegy__input:checked + .label_button_strategy,
  .radio_asset__input:checked + .label_button_asset {
    background-color: #53ACFF;
    color: #fff;
    
  }

  .custom-clear-scrollbar::-webkit-scrollbar {
    display: none !important; /* for Chrome, Safari, and Opera */
  }

  .custom-clear-scrollbar {
    -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
    scrollbar-width: none !important; /* for Firefox */
    overflow-y: scroll !important;
  }

  .custom__css_icon svg {
    width: 20px !important;
    height: 20px !important;
  }
}
